div.header
	h1 HAPPENIN
div.top
	div.top_line
		h1.title XHack 2012 "Hack the Future"
		h1.time June 8-10, 2012
	h2 55 2nd St. (between Market and Mission), San Francisco, CA 94105

div.container
	div.info
		div.event_logo
			img(class="event_logo", src="https://si0.twimg.com/profile_images/2180047492/Screen_Shot_2012-04-30_at_4.40.38_PM.png")
		ul.attendees
	div.box_container.transitions-enabled.clearfix
		div.item.col1
			p @ultramusic THANK YOU ALL! THIS WAS THE MOST AMAZING EXPERIENCE FOR ALL OF US!!! WHAT WAS YOUR MAIN HIGHLIGHT OF #ULTRA2012 
			div.links
				span.shares 
					| <a href="http://www.google.com">23</a>
				span.likes 
					| <a href="http://www.google.com">32</a> 
		div.item.col1
			img(class="profile", src="https://si0.twimg.com/profile_images/1424021570/TwitterProfile_reasonably_small.jpg")
			p @ultramusic Miami #ULTRA2012 luv luv luv!
			div.links
				span.shares 
					| <a href="http://www.google.com">23</a>
				span.likes 
					| <a href="http://www.google.com">32</a> 
		div.item.col1
			img(class="profile", src="https://si0.twimg.com/profile_images/1217538971/headshot_reasonably_small.jpg")
			p @ultramusic @HARDWELL is killing it on main stage! #UMFTV #ULTRA2012. 
			div.links
				span.shares 
					| <a href="http://www.google.com">23</a>
				span.likes 
					| <a href="http://www.google.com">32</a> 
		div.item.col1
			img(class="profile", src="https://si0.twimg.com/profile_images/2180047492/Screen_Shot_2012-04-30_at_4.40.38_PM_reasonably_small.png")
			p Nullam quis nunc ac metus porta mollis vitae vel libero. Morbi ornare fringilla lobortis. Sed fringilla pretium suscipit. Etiam sagittis pretium ante vitae ultricies. 
			div.links
				span.shares 
					| <a href="http://www.google.com">23</a>
				span.likes 
					| <a href="http://www.google.com">32</a> 
		div.item.col1
			p @ultramusic @HARDWELL is killing it on main stage! #UMFTV #ULTRA2012.
			div.links
				span.shares 
					| <a href="http://www.google.com">12</a>
				span.likes 
					| <a href="http://www.google.com">54</a> 
		div.item.col1
			img(class="profile", src="https://si0.twimg.com/profile_images/1907165749/307363_10150397923090339_579100338_10789712_1104540392_n_reasonably_small.jpg")

			p @setphaserstostun Twenty Dubstep Artists You Must See at @UltraMusic 2012 http://t.co/sDvFCKeY via @dubstep101 @bigchocolat3 @skrillex @12thplanet 
			div.links
				span.shares 
					| <a href="http://www.google.com">76</a>
				span.likes 
					| <a href="http://www.google.com">2</a> 
		div.item.col1
			div.tweet
				img(class="profile", src="https://si0.twimg.com/profile_images/1907165749/307363_10150397923090339_579100338_10789712_1104540392_n_reasonably_small.jpg")
				p 
					| <a href="http://www.google.com">@dubstep101</a>
					| Twenty Dubstep Artists You Must See at @UltraMusic 2012 
					| <a href="http://t.co/sDvFCKeY">http://t.co/sDvFCKeY</a> 
					| via 
					| <a href="@dubstep101">@dubstep101</a> 
					| @bigchocolat3 @skrillex @12thplanet 
			div.links
				span.shares 
					| <a href="http://www.google.com">23</a>
				span.likes 
					| <a href="http://www.google.com">32</a> 	


script	
	$(function(){
		//typekit check
		try{Typekit.load();}catch(e){};
	});