div.header
	h1
div.top
	div.top_line
		h1.title XHack 2012 "Hack the Future"
		h1.time June 8-10, 2012
	h2 55 2nd St. (between Market and Mission), San Francisco, CA 94105
	hr
div.container
	div.info
		div.event_logo
			img(class="event_logo", src="https://si0.twimg.com/profile_images/2180047492/Screen_Shot_2012-04-30_at_4.40.38_PM.png")
		ul.attendees
	div.box_container.transitions-enabled.clearfix
		div.item.col1
			p @ultramusic THANK YOU ALL! THIS WAS THE MOST AMAZING EXPERIENCE FOR ALL OF US!!! WHAT WAS YOUR MAIN HIGHLIGHT OF #ULTRA2012 
			div.links
				span.shares 
					| <a href="http://www.google.com">23</a>
				span.likes 
					| <a href="http://www.google.com">32</a> 	

script	
	$(function(){
		//typekit check
		try{Typekit.load();}catch(e){};
	});